.btn-primary {
    padding: 1.6rem 2.4rem;
    background-color: var(--pink-10);
    color: var(--gray-900);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.4px;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: var(--pink-20);
}

.btn-primary.lg {
    padding: 2.3rem 2.4rem;
    font-size: 1.8rem;
}

.btn-primary.white {
    background-color: white;
    transition: all .5s;
}

.btn-primary.white:hover {
    background-color: var(--gray-900);
    color: white;
}

.item-digital {
    flex: 1;
    max-width: 38.4rem;

    .icon {
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.6rem;
    }

    .info {
        h6 {
            margin-bottom: .8rem;
        }

        p {
            color: var(--gray-600);
        }
    }

}

.card-post {
    border: 2px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 2.4rem;

    .tag {
        display: inline-block;
        padding: .8rem 2.2rem;
        border-radius: 10rem;
        background: rgba(255, 255, 255, 0.10);
        color: var(--gray-100);
        font-family: 'Sora', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 1.26px;
        text-transform: uppercase;
        margin-bottom: 4.5rem;
    }

    .image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6.4rem;
    }

    .text {
        width: 100%;
        max-width: 60rem;

        h6 {
            margin-bottom: .8rem;
        }

        p {
            font-size: 1.6rem;
            color: var(--gray-600);
        }
    }
}