:root {
    --pink-10: #f67acb;
    --pink-20: #cf62a9;
    --pink-30: #9d457f;
    --gray-900: #0a0b0d;
    --gray-800: #393b42;
    --gray-700: #5c5f69;
    --gray-600: #787c87;
    --gray-500: #979ba6;
    --gray-400: #abafba;
    --gray-300: #c0c3cc;
    --gray-200: #dfe1e8;
    --gray-100: #f5f6fa;
}